<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

{% block font %}
<link href=" http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold" rel="stylesheet" type="text/css" />
<link href=" http://fonts.googleapis.com/css?family=Nobile:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css" />
{% endblock %}

<link rel="stylesheet" href="css/style.css" media="all" type="text/css" />
<link rel="stylesheet" href="css/grid.css" media="all" type="text/css" />
{{ extracss }}{% block ec %}{% endblock %}

<title>david nuon:
{% if title %}
{{ title }}
{% else %}
    datamancer and web developer
{% endif %}
</title>
</head>
<body {{ bodyclass }}>

<!-- / -->
<div class="main-navi-container">
    <div class="main-navi">
        <div class="logo">
            <a href="index.html"><img src="img/logo.png" alt="davidnuon" /></a>
        </div>
                    <div class="navi">
            <ol>
              <li><a href="portfolio.html">Portfolio</a></li>
              <li><a href="about.html">About + Contact</a></li>
              <li><a href="lab.html">Lab</a></li>
            </ol>
        </div>
    </div>
</div>
<!-- / -->

<div class="big-wrapper">{% block over_content %}{% endblock %}</div>

<div id="footer" class="clearfix">
            <div class="grid grid-250px grid-sp">
            <h2>What I've twot.</h2>
        
            <p id="footer_twitter">Loading tweet.</p>
        
        <p style="text-align:right;"> - <a href="http://www.twitter.com/davidnuon/">@davidnuon</a></p>
    </div>
    <div class="grid grid-250px grid-sp">
    <h2 class="social-header">A robot, he is not.</h2>
            <p><a href="about.html">David Nuon</a> is an actual person that likes playing with his favorite toy - information.</p>
            <p>He also likes to play a good game of cards.</p>
    </div>
            <div class="grid grid-250px">&nbsp;</div>
            <div class="grid grid-250px">
    <h2 class="social-header">Let's be friends</h2>
            <ul class="social">
            <li id="gooveshark"><a href="http://listen.grooveshark.com/#/user/desaku/">dn_desaku</a></li>
            <li id="twitter"><a href="http://www.twitter.com/davidnuon/">davidnuon</a></li>
            <li id="dA"><a href="http://davidnuon.deviantart.com/">davidnuon</a></li>
            <li id="skype"><a href="#">davidnuonsky</a></li>
        </ul>
    </div>        
</div>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/logic.js"></script>
    {{ extrajs }}{% block ej %}{% endblock %}
</body>
</html>
