{% extends "base.html" %}

{% set title="Portfolio" %}

{% block ec %}
<link rel="stylesheet" href="css/portfolio.css" media="all" type="text/css" />
{% endblock %}

{% block over_content %}
<div class="portfolio-big-wrapper elf">
        <div class="mc-portfolio">
            <div class="grid grid-500px">
            	<img src="portfolio/elf-warhol-splashl.png" alt="Elfen Warhol" />
            </div>
            
            <div class="grid grid-500px">
            	<h2>Elfen Warhol</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Fusce vitae urna nisl. Aliquam rhoncus enim ut purus auctor 
            non lacinia tortor sed.</p>
            </div>            
        </div>
	</div>

    
    <div class="portfolio-big-wrapper bsd">
        <div class="mc-portfolio">

            <div class="grid grid-500px">
            	<h2>Neo Beastie</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Fusce vitae urna nisl. Aliquam rhoncus enim ut purus auctor 
            non lacinia tortor sed.</p>
            </div>            
            
            <div class="grid grid-500px">
            	<img src="portfolio/bsd.png" alt="Elfen Warhol" />
            </div>
            
        </div>
	</div>
    
	<div class="portfolio-big-wrapper sammy">
        <div class="mc-portfolio">
            <div class="grid grid-500px">
            	<img src="portfolio/sammy-icon.png" alt="Elfen Warhol" />
            </div>
            
            <div class="grid grid-500px">
            	<h2>Sammy the Sonicfish</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Fusce vitae urna nisl. Aliquam rhoncus enim ut purus auctor 
            non lacinia tortor sed.</p>
            </div>            
        </div>
	</div>
    
    <div class="portfolio-big-wrapper redesign">
        <div class="mc-portfolio">
            <div class="grid grid-500px">&nbsp;</div>
            <div class="grid grid-500px re-right">
            	<h2>davidnuon.com Redesign</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Fusce vitae urna nisl. Aliquam rhoncus enim ut purus auctor 
            non lacinia tortor sed.</p>
            </div>            
        </div>
	</div>    
    
    <div class="portfolio-big-wrapper ft">
        <div class="mc-portfolio">
            <div class="grid grid-500px">&nbsp;</div>
            <div class="grid grid-500px ft-right">
            	<h2>412 Graphics Club</h2>
            </div>            
        </div>
	</div>  
    
    <div class="portfolio-big-wrapper vs">
        <div class="mc-portfolio">
            <div class="grid grid-500px">&nbsp;</div>
            <div class="grid grid-500px vs-right">
            	<h2>Vaelden in Space</h2>
            </div>            
        </div>
	</div>    
{% endblock %}