{% extends "base.html" %}

{% set title="Portfolio" %}

{% block font %}
<link href=" http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold" rel="stylesheet" type="text/css" />
<link href=" http://fonts.googleapis.com/css?family=Nobile:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
{% endblock %}

{% block ec %}
<link rel="stylesheet" href="css/about.css" media="all" type="text/css" />
{% endblock %}

{% block over_content %}
<div class="about-container"> 
    <p class="labs"> Coming Soon... </p>
</div>
{% endblock %}